@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Krub&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Nunito', sans-serif;
}

nav ul {
    list-style: none;
}

nav {
    background-color: black;
    color: white;
    height: 48px;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}