@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Krub&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Nunito', sans-serif;
}

nav ul {
    list-style: none;
}

nav {
    background-color: black;
    color: white;
    height: 48px;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Balsamiq Sans', sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(220, 240, 218);
}

.game-info {
    padding: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bt-0 {
    border-top: 0;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background: #e3cce3;
    border-radius: 6px;
    cursor: pointer;
}

.info{
    font-size: 22px;
}